body {
  background-color: #7599c7;
}
.main_block {
  width: 466px; /* ширина */
  height: 800px; /* высота */
  padding: 48px 20px 30px 80px; /* внутренние отступы - верх, право, низ, лево */
  margin: 50px auto; /* выравнивание по центру */
  box-shadow: 0px 0px 3px black; /* небольшая тень для объемности */
  background-color: white; /* цвет фона в блоке */
  font-family: "Times New Roman"; /* нужный шрифт */
}
.first_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.minis_obr {
  line-height: 24px;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}

.course_work {
  margin: 58px 0px 10px 0px;
}

.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
.about_course {
  margin: 0px 0px 0px 0px;
}
.line_bot_txt_1 {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 74%;
  margin: 0px 0px 7px 122px;
}
.line_bot_txt_2 {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 62%;
  margin: 0px 0px 7px 102px;
}
.line_bot_txt_3 {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px;
  width: 79%;
  margin: 0px 0px 0px 36px;
}
.raiting {
  display: flex;
  flex-direction: column;
}
.ocenka {
  margin: 33px 0px 0px 60px;
  color: white;
}
.line_bot_rait {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 80px;
  margin: 0px 0px 0px 25px;
}

.rait_txt {
  font-size: 8px;
  margin: 0px 0px 0px 50px;
}
.team_comiss {
  display: flex;
  justify-content: space-between;
  width: 455px;
  margin-left: 10px;
}
.team_comis_and_norm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 350px;
}
.team_comis {
  margin: 26px 0px 0px -85px;
}
.line_team_comis {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.team_comis_txt {
  font-size: 8px;
}

.team_comis_name_1{
    margin-bottom: 0px;
}

.team_comis_name_pd {
  font-size: 10px;
}
.podp_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 22px;
  width: 100%;
}
.line_team_comis_podp {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.line_team_comis_date {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pd {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85px;
  height: 23px;
}

.team_comis_name_pd {
  font-size: 10px;
  color: white;
}

.team_norm {
  margin: 24px 0px 11px -86px;
}

.team_ruc_ob {
  margin: 26px 0px 11px -98px;
}

.year{
  font-size: 14px;
}

.block-title {
  display: flex;
  justify-content: space-between;
}

.title_text {
  width: 35%;
  text-align: center;
  font-size: 10.0pt;
}

.block_graphik {
  margin-top: 50px;
}

.block_reg-lit {
  margin-top: 25px;
  text-align: justify;
}

.block_reg-lit span {
  text-decoration: underline;
}

.block_text {
    margin-top: 20px;
    text-align: center;
}

.block_text-title {
    text-transform: uppercase;
    font-weight: 700;
}

.block_table {
    margin-top: 15px;
}

.block_table table {
    border: 1px solid;
    border-collapse: collapse;
}

.block_table td {
    border: 1px solid;
    text-align: center;
}

.block_text-sod-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.block_rukov {
    display: flex;
    justify-content: start;
    margin-top: 80px;
}

.block_rukov .pd {
  margin-top: 5px;
  margin-left: 15px;
}

.block_prin {
  margin-top: 25px;
}

.block_prin .rukov-text {
  width: 45%;
}

.block_dan {
    margin-top: 40px;
}

.block_dan .about_course {
  margin-top: 5px;
}

.about_course span {
  text-decoration: underline;
}

.stat_text span {
  font-weight: 600;
}

.block_stat {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}

.block_text-fio {
    margin-top: 15px;
}

.block_text-fio {
    margin-top: 15px;
}

.block_text-fio .team_comis_txt {
  margin-left: 180px;
}

.block_text-fio .about_course {
  margin-top: 15px;
}